body{
    margin: 0;
    text-align: center;
    color: #C5C5C5;
    font-family: Josefin Sans;
}
h2{
    padding: 2.5em 4em;
    font-size: 1.5rem;
}
p{
    color: #5c4040;
}
.cont{
    background-color: #ffffff;
    margin: 4.5em auto;
    width:460px;
    color: #271d1d;
    border-radius: 0.7em;
}
.blue{
    background-color: #2355F2;
    color: #ffffff;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
}
.white{
    margin: 0;
    padding: 0 1em 1em;
}
.image-cont{
    margin: 1em auto;
    width:inherit;
    display: flex;
    justify-content: center;
}
img{
    padding: 1em;
    width: 4em;
}
.iamge-name{
    margin: 0 1em;
    text-align: left;
}
input{
    width: 100%;
}
.input{
    padding: 1em;
    background-color: #F5F7FA;
    border: solid #ECEEF4;
    border-radius: 0.8em;
    color: #ECEEF4;
    width: 50%;
}
.input:hover,
.input:focus{
    border-color: #2355F2;
    color:  #2d3b69;
}
.black{
    color: #0e0c0c;
    font-weight: 900;
}
.par1{
    text-align: left;
}
.parr{
    margin: 1.5em auto;
}
.par2{
    margin: 0em auto;
}
.button{
    padding: 1em;
    background-color: #2355F2;
    border: solid #2355F2;
    border-radius: 0.8em;
    color: #ECEEF4;
    width: 40%;
}
.button:hover,
.button:focus{
    background-color: #2a355a;
    border-color: #2a355a;
    padding: 1em;
}
@media(max-width:480px){
    body{
        background-color: #ffffff;
        width: 500px;
        padding: 0;
        margin: 0;
    }
    .cont{
        width: 90%;
        margin:0;
        border-radius: 0;;
        height: 919px;
    }
    h2{
        margin-top: 0;
        margin-right: 0;
    }
    .blue{

        background-color: #2355F2;
        color: #ffffff;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
}
    .input{
        padding: 1em;
        background-color: #F5F7FA;
        border: solid #ECEEF4;
        border-radius: 0.8em;
        color: #ECEEF4;
        width: 45%;
    }
    .button{
        padding: 1em;
        background-color: #2355F2;
        border: solid #2355F2;
        border-radius: 0.8em;
        color: #ECEEF4;
        width: 35%;
    )
}
